<div class="card" [ngClass]="{'bg-secondary' : editPostId === postItem.id}">
  <div class="card-body">
    <h5 class="card-title">{{ postItem.title}}</h5>
    <p class="card-text">{{ postItem.body }}</p>
    <button class="btn btn-danger" (click)="onDelete(postItem.id)">Delete</button>
    <button class="btn btn-warning" (click)="onEdit(postItem)" *ngIf="!editPostId">Edit</button>
    <button class="btn btn-warning" (click)="onCancel()" *ngIf="editPostId">Cancel</button>
    <button class="btn btn-primary" (click)="onShowComments(postItem.id)">Comments</button>
  </div>
  <!-- /.card-body -->
</div>
<!-- /.card -->
<app-comments [comments]="comments" *ngIf="commentsShown"></app-comments>

