<h3>{{ formData.id ? 'Edit' : 'Add' }} post</h3>
<form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      class="form-control"
      type="text"
      id="title"
      name="title"
      [(ngModel)]="formData.title"
      #postTitle="ngModel"
      [ngClass]="{'is-invalid' : postTitle.errors  && form.submitted || postTitle.errors  && postTitle.touched}"
      required
    >
    <div class="invalid-feedback" [hidden]="!postTitle.errors?.required">Title required</div>
  </div>
  <!-- /.form-group -->

  <div class="form-group">
    <label for="text">Text</label>
    <textarea
      class="form-control"
      type="text"
      name="text"
      id="text"
      [(ngModel)]="formData.body"
      #postText = "ngModel"
      [ngClass]="{'is-invalid' : postText.dirty && postText.errors}"
      required
    ></textarea>
    <div class="invalid-feedback" [hidden]="!postText.errors?.required">Text required</div>
  </div>
  <!-- /.form-group -->
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid" *ngIf="!formData.id">Add</button>
  <button class="btn btn-primary" *ngIf="formData.id" [disabled]="form.invalid">Editpost</button>
  <button class="btn btn-primary" *ngIf="formData.id" (click)="onCancel()">Cancel</button>
</form>
