<div class="container mt-5">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"><p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <form (ngSubmit)="onSubmit(form)" #form="ngForm" novalidate>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="title"
        [(ngModel)]="post.title"
        #postTitle="ngModel"
        [ngClass]="{'is-invalid' : postTitle.errors  && form.submitted || postTitle.errors  && postTitle.touched}"
        required
      >
      <div class="invalid-feedback" [hidden]="!postTitle.errors?.required">Title required</div>
    </div>
    <!-- /.form-group -->

    <div class="form-group">
      <label for="text">Text</label>
      <textarea
        class="form-control"
        type="text"
        name="text"
        id="text"
        [(ngModel)]="post.body"
        #postText = "ngModel"
        [ngClass]="{'is-invalid' : postText.dirty && postText.errors}"
        required
      ></textarea>
      <div class="invalid-feedback" [hidden]="!postText.errors?.required">Text required</div>
    </div>
    <!-- /.form-group -->
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid" >Add</button>
  </form>
  <div class="row">
    <div class="col col-6 mb-3" *ngFor="let post of posts">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.body }}</p>
        <button class="btn btn-danger" *ngIf="isAdmin" (click)="onDelete(post.id)">Delete</button>
        <button class="btn btn-primary" (click)="getComments(post.id)">Comments</button>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
      <div *ngFor="let comment of comments">
        <div *ngIf="comment.postId == post.id">
          <span class="font-weight-bold">{{ comment.email }}:</span>
          <p>{{ comment.body }}</p>
        </div>
      </div>
    </div>
    <!--/col-->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
